
body, html {
	background-color: black;
	padding: 0;
	margin:0;
	border: 0;
}

.nav {
	width: 100%;
	height: 100px;
	position: fixed;
	background-color: black;
	z-index: 1;
}

.logo{
	width: 24%;
	height: 100%;
	display: inline-block;
}


.logo img{
	width: 20rem;
	height: auto;	
	margin: 3% 2%;
}
.menu {
	width: 75.7%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.menu ul{
	height: 100%;
	list-style: none;
	margin: 0;	
	padding: 0;
}
li{
	display: inline-block;
	width: 24.7%;
	list-style-type: none;
}

.amenu{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #DDEADE;
	font-weight: 600;
	font-family: Verdana;
	padding: 2.49rem 0;
}

li .amenu:hover{
	background-color: #8F988F;
	color: white;
}

.bg-container {
	padding-top: 100px;
	height: 27rem;
	width: 100%;
	position: static;
	background-image: url("../img/img1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.titulo{
	margin: 0;
	padding-top: 2rem;
	color: #DDEADE;
	font-family: VERDANA;
	text-align: center;
	font-size: 60px;
}

.descripcion{
	margin-top: 15rem;
	color: #DDEADE;
	font-family: VERDANA;
	text-align: center;
	font-size: 30px;
}

.pregunta{
	width: 100%;
	height: 27rem;
	position: relative;
	background-color:#333; 
}

.titulo1{
	margin: 0;
	padding-top: 7rem;
	color: white;
	font-family: VERDANA;
	text-align: center;
	font-size: 35px;
}

.parrafo1{
	padding: 0px 60px;
	margin-top: 7rem;
	color: #8F988F;
	font-family: VERDANA;
	text-align: center;
	font-size: 25px;
}

.resto {
	margin: 0;
	width: 100%;
	height: 500px;
	position: static;
	background-color: black;
}

.lineadebrinco{
	border: none;
	border-top: dashed #8F988F;
	margin: 50px 50px;
}

.aprende{
	color: white;
	font-family: VERDANA;
	text-align: center;
	font-size: 20px;
	margin: 0px 50px;
}

.inscripciones{
	width: 100%;
	height: 400px;
	position: static;
}

.informes{
	border-right: dashed #8F988F;
	float: left;
	width: 49.774%;
	height: 100%;
	display: inline-block;
}

.p1{
	padding: 0px 30px;
	margin-top: 1rem;
	color: #8F988F;
	font-family: VERDANA;
	text-align: center;
	font-size: 25px;
}

.p2{
	text-align: justify;
	color: white;
	font-family: VERDANA;
	font-size: 15px;
	margin: 0px 50px; 
}

.mapa{
	border: 4px solid  #8F988F;
	width: 80%;
	height: 100px;
	margin: 0px 10%;

}

.formulario{
	border-left: dashed #8F988F;
	float: left;
	width: 49.774%;
	height: 100%;
	display: inline-block;

}

.form{
	text-align: justify;
	color: white;
	font-family: VERDANA;
	font-size: 15px;
	margin: 0px 50px; 

}

.input{
	padding-left: 10px;
	color:  #8F988F;
	border: 4px solid  #8F988F;
	border-radius: 10px;
	font-size: 20px;
	width: 450px;
}

.buttom{ 
	margin: 0px 175px;
	border: 4px solid  #8F988F;
	border-radius: 10px;
	font-size: 20px;
	width:100px;
}

.p3{
	text-align: justify;
	color: white;
	font-family: VERDANA;
	font-size: 15px;
	margin: 0px 0px; 
}

.aliados{
	background:white; 
	width: 100%;
	height: 300px;
	position: static;
}

.alti{
	padding: 2%;
	color: black;
	font-family: VERDANA;
	text-align: center;
	font-size: 40px;
	width: 100%
	height:20px;
}

.divimgali{
	text-align: center;
	display: inline-block;
	width: 24.7%;
	height:100px;
}

.imgali{
	text-align: center;
	display: inline-block;
	height: 100%;
	width: auto;

}
.objetivo{

}

.maestro{

}

.footer{

}


