$color-primary: black;
$color-second: #BDBDBD;
$font-size: 16px;
$width-navbar: 14rem;

body{
	position: absolute;
	background: $color-primary;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.collapse{
	margin: 1px;
	padding: 0;
}

.navbar{
	position: fixed;
	width: 100%;
	background: $color-second;
}

.navbar-header{
	margin: 0;
	padding: 0;
}

.navbar-brand {
	margin: 0;
	padding: 0;
}

.logo{
	margin: 9px 10px 0px 20px;
	width: $width-navbar;
	padding: 0;
	height: auto;
}

.navbar-default .navbar-nav {
		& > li {
		& > a {
color: white;
			}
			}
		}

.navbar-default:hover .navbar-nav:hover {
		& > li {
		& > a {
color: blue;
			}
		}
			}
	

.meenuhover{
	font-size: 2rem;
}

.meenuhover:hover{
	background-color:#A6AFA7;
	border-radius: 30px;
	font-size: 3rem;
}

.ins{
	height: 40px;
	width: 100px;
	margin: 5px 0px;
	border: 1px solid pink;
	background:#FFFF00;
	border-radius: 15px;
	color: red;
	font: VERDANA 1.5rem;
	font-weight: bold;

}

.ins:hover{
	border: 1px solid yellow;
	background: pink;
	border-radius: 15px;
	font: VERDANA 1.5rem cursive;
	color: green;
	font-weight: bold;
	font-style: italic;
}

.navbar-form{
	float: right;
}

.form-control{
	border-radius: 15px;
	color: #FF8000;
}

.bbuscar {
	background:#FF8000;
	border-radius: 15px;
}

.bbuscar:hover{
	background-color:pink;
	color:white;
	}